<div class="dialog-block">
    <div *ngIf="data.dialogType === 'addBook'">
        <h1 mat-dialog-title>Create New Book</h1>
        <mat-dialog-content>
            <form (ngSubmit)="addBook()" class="dialog" [formGroup]="bookForm">
                <mat-form-field style="width:400px; padding: 12px 0">
                    <input matInput placeholder="Title" formControlName="title" [formGroup]="bookForm">
                    <mat-error *ngIf="bookForm.get('title').hasError('required')">
                        Title is required!
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field style="width:400px; padding: 12px 0">
                    <input type="text" matInput placeholder="Author" formControlName="author" [formGroup]="bookForm">
                    <mat-error *ngIf="bookForm.get('author').hasError('required')">
                        Author is required!
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field style="width:400px; padding: 12px 0">
                    <textarea  type="text" matInput placeholder="Description" formControlName="description" rows="4" [formGroup]="bookForm"></textarea>
                    <mat-error *ngIf="bookForm.get('description').hasError('required')">
                        Description is required!
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field style="width:400px; padding: 12px 0">
                    <input type="number" matInput placeholder="Price" formControlName="price" [formGroup]="bookForm">
                    <mat-error *ngIf="bookForm.get('price').hasError('required')">
                        Price is required!
                    </mat-error>
                </mat-form-field>
                <br/>
                <label for="bookcover-input" mat-stroked-button>
                    <input 
                        accept="image/*" 
                        id="bookcover-input" 
                        multiple type="file" 
                        mat-raised-button 
                        color="primary"
                        formControlName="cover"
                        [formGroup]="bookForm"
                        name="picFile"
                        style="display: none"
                        (change)="preview()"
                    />
                    <span class="btn-bookcover-add">Add cover</span>
                </label>
                <br/>
                <div *ngIf="imgURL">
                    <img [src]="imgURL" alt="Book cover" style="height: 100px">
                </div>
                <br/>
                <button mat-raised-button color="primary" type="submit" style="margin-right: 15px">Create book</button>
                <button mat-button color="primary" mat-dialog-close>Cancel</button>
            </form>
        </mat-dialog-content>
    </div>

    <div *ngIf="data.dialogType === 'editUser'">
        <h1 mat-dialog-title>Edit user</h1>
        <mat-dialog-content>
            <form class="dialog" [formGroup]="editUserForm">
                <mat-form-field style="width:400px; padding: 12px 0">
                    <input 
                        matInput 
                        formControlName="userEmail" 
                        [formGroup]="editUserForm"
                        placeholder="Email"
                        value={{data.userEmail}}
                    >
                    <mat-error *ngIf="editUserForm.get('userEmail').hasError('required')">
                        Email is required!
                    </mat-error>
                    <mat-error *ngIf="editUserForm.get('userEmail').hasError('email')">
                        Email is incorrect!
                    </mat-error>
                </mat-form-field>
                <button 
                    mat-raised-button 
                    color="primary" 
                    type="button" 
                    style="margin-right: 15px" 
                    (click)="editUserFunc(editUserForm.get('userEmail').value === '' 
                        ? data.userEmail 
                        : editUserForm.get('userEmail').value, data.userId)"
                >
                        Edit
                </button>
                <button mat-button color="primary" mat-dialog-close>Cancel</button>
            </form>
        </mat-dialog-content>
        <!-- <mat-dialog-actions>
            <button 
            mat-raised-button 
            color="primary" 
            type="button" 
            style="margin-right: 15px" 
            (click)="editUser(userEmail.value === '' ? data.userEmail : userEmail.value, data.userId)">
                Edit
            </button>
            <button mat-button color="primary" mat-dialog-close>Cancel</button>
        </mat-dialog-actions> -->
    </div>

    <div *ngIf="data.dialogType === 'deleteUser'">
        <h1 mat-dialog-title>Do you really want to delete user?</h1>
        <button mat-raised-button color="primary" type="button" style="margin-right: 15px" (click)="deleteUser(data.userId)">Yes</button>
        <button mat-button color="primary" mat-dialog-close>No</button>
    </div>
</div>